<!-- TOP PAGE -->
<%= render partial: 'banner_container' %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <%= render partial: 'featured_collection' %>
      <%= render partial: 'featured_products', locals: { featured_products: @featured_products } %>
      <%= render partial: 'latest_articles' %>
    </div>
  </section>
<%= render partial: '/potepan/shared/partners_logo_slider' %>
