<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= for_name.name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li><%= link_to "Home", potepan_root_path %></li>
            <% if current_page?(potepan_category_path) %>
              <li><a href="#">shop</a></li>
            <% end %>
          <li class="active"><%= for_name.name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
