<!-- PRODUCT BOX -->
<% if current_page?(potepan_root_path) %>
  <div class="slide">
<% else %>
<div class="productBox">
<% end %>

  <div class="productImage clearfix">

    <% if current_page?(potepan_root_path) %>
      <%= image_tag product.images.first.attachment, :alt => "featured-product-img" %>
    <% else %>
      <%= image_tag product.images.first.attachment, :alt => "products-img" %>
    <% end %>

    <div class="productMasking">
      <ul class="list-inline btn-group" role="group">
        <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
        <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
        <li><a class="btn btn-default" data-toggle="modal" href=".quick-view" ><i class="fa fa-eye"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="productCaption clearfix">
    <%= link_to potepan_product_path(product.id) do %>
      <h5><%= product.name %></h5>
      <h3>$<%= product.price %></h3>
    <% end %>
  </div>
</div>
