<!-- PANEL DEFAULT -->
<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <li>
          <%= render partial: 'tree_list', locals: { tree_title: taxonomy, tree_items: categories } %>
        </li>
      </ul>
    </div>
  </div>
</div>
