
<a href="javascript:;" data-toggle="collapse" data-target="#<%= tree_title.name + "_" %>tree_list">
  <%= tree_title.name %><i class="fa fa-plus"></i><span>(<%= tree_items.count %>)</span>
</a>

<ul id="<%= tree_title.name + "_" %>tree_list" class="collapse collapseItem">
  <% tree_items.each do |item| %>
    <li>
      <a href="<%= potepan_category_path(item.id) %>">
        <i class="fa fa-caret-right" aria-hidden="true"></i><%= item.name %> <span>(<%= item.products.count %>)</span>
      </a>
    </li>
  <% end %>
</ul>
