<!-- TAXON SHOW -->
<% provide(:title, @taxon.name ) %>
<%= render partial: '/potepan/shared/page_header', locals: { for_name: @taxon} %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render partial: 'panel_default_category', locals: { taxonomy: @taxonomy, categories: @categories } %>
          <%= render partial: 'panel_default_price_range' %>
          <%= render partial: 'panel_default_color' %>
          <%= render partial: 'panel_default_size' %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div class="row filterArea">
            <%= render partial: 'filter_area' %>
          </div>
          <div class="row">
            <%= render partial: 'product', collection: @products  %>
          </div>
        </div>
    </div>
  </section>
<%= render partial: '/potepan/shared/partners_logo_slider' %>
