<!DOCTYPE html>
<html lang="ja">

  <head>
    <%= render partial: 'layouts/shared/head' %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render partial: '/layouts/shared/header' %>
      <%= yield %>
      <%= render partial: '/layouts/shared/footer' %>
      <%= render partial: '/layouts/shared/copyright' %>
      <%= render partial: '/layouts/shared/modals/login_modal' %>
      <%= render partial: '/layouts/shared/modals/signup_modal' %>
      <%= render partial: '/layouts/shared/modals/product_quick_view_modal' %>
    </div>
  </body>

</html>
